<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Julius+Sans+One|Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Lato|Karla|Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="{{asset "css/reset.css"}}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive.css">
    <!--<link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">-->
    <link rel="stylesheet" href="{{asset "css/style.css"}}">
    <script src="https://use.fontawesome.com/952275e046.js"></script>

</head>
<body class="{{body_class}}">


    <div class="wrapper">
        {{{body}}}
    </div>



    <footer class="footer">
        <p>&copy; 2017 <a href="http://www.sollrei.me">@sollrei</a></p>
        <p>with <a href="https://ghost.org/developers/" target="_blank">ghost</a></p>
    </footer>

</body>
</html>